* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.8em;
    color: #111;
    background-color: #f4f4f4;
}

h1, h2 {
    color: #444;
    line-height: 2.0em;
    margin: 15x 0px 10px 0px;
}

a:any-link {
    text-decoration: none;
    color: #008000;
}
a:visited {
    color: #00ff00;
}
a:hover {
    color: #ff0000;
}

/*.mcontainer {
    width: 90%;
    margin: auto;
    overflow: hidden;
}*/

#top-header {
    height: 80px;
    background-color: #2e8b57;
}	
#top-header .top-tol {
    margin: 25px 40px 0px 10px;
}
#top-header .top-tol ul {
    list-style: none;
    /*border: 1px solid white;*/
    /*margin: 10px;
    padding: 10px;*/
}
#top-header .top-tol ul li {
    display: inline;
}
#top-header .top-tol ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}
#top-header .top-tol .logo {
    background-color: rgb(67, 64, 64);
    font-size: 30px;
}
#top-header .top-tol .logo em {
    padding-left: 15px;
    color: whitesmoke;
    background-color: #444;
    border-top: 1px solid rgb(194, 184, 184);
    border-left: 1px solid rgb(194, 184, 184);
    border-bottom: 1px solid rgb(194, 184, 184);
}
#top-header .top-tol .logo i {
    padding-right: 15px;
    color: #444;
    background-color: white;
    border-top: 1px solid rgb(194, 184, 184);
    border-right: 1px solid rgb(194, 184, 184);
    border-bottom: 1px solid rgb(194, 184, 184);
}
/*
#top-header .top-tol ul li:nth-child(2) {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #5da07a;
    border-radius: 4px;
    display: block;
}
#top-header .top-tol ul li:nth-child(2):hover {
    background-color: #7fb194;
}*/
#top-header .top-tol .myac {
    float: right;
}
#top-header .top-tol .myac #a1 {
    text-decoration: none; 
    color: white; 
    border: 1px solid white;
    font-weight: bold; 
    font-size: 16px;"
}
#top-header .top-tol .myac ul li a {
    text-decoration: none; 
    border-radius: 5px;
    color: #111; 
    font-size: 14px;
    padding: 10px 20px;
}
#top-header .top-tol .myac ul li a:hover {
    background-color: skyblue;
    transition: .4s;
    border-radius: 5px;
    font-size: 14.5px;
}
#top-header .top-tol .myac #active_page {
    background-color: skyblue;
}
#top-header .top-tol .dropdown-item {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    color: #111;
    display: block;
}

#nav-bar {
    height: 60px;
    background-color: #000;
}
#nav-bar .menu {
    width: 400px;
    margin-left: 40px;
}
#nav-bar ul {
    padding: 15px 0px;
    list-style: none;
}
#nav-bar ul li {
    display: inline;
}
#nav-bar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px; 
}

#nav-bar ul li .active_page {
    color: deepskyblue;
}
#nav-bar ul li a:hover {
    font-style: italic;
    color: skyblue;
    transition: .4s;
}

#banner {
    background-image: url('../images/technology-improves-education.jpg');
    background-position: center;
    min-height: 300px;
    text-align: center;
    margin-bottom: 20px;
}

#banner h1 {
    color: #fff;
    padding-top: 40px;
    font-size: 30px;
    line-height: 1.3em;
}

#main {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: 0px 20px;
}

article {
    flex: 2;
    overflow-y: auto;
    background-color: #fff;
    padding: 20px;
}

#aside {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    margin-left: 20px;
    background-color: #fff;
    color: #555555;
;
}

#fotter {
    background-color: #000;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

@media(max-width: 700px) {
    #main {
        flex: 3; 
        flex-direction: column;
    }
    #aside {
        flex: 3; 
        flex-direction: column;
        margin-left: 0px;
        margin-top: 20px;
    }
}







